@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 13% 3%;
    --card: 0 0% 96%;
    --card-foreground: 240 13% 3%;
    --popover: 0 0% 96%;
    --popover-foreground: 240 13% 3%;
    --primary: 231 46% 54%;
    --primary-foreground: 0 0% 96%;
    --secondary: 231 76% 85%;
    --secondary-foreground: 240 13% 3%;
    --muted: 0 0% 20%;
    --muted-foreground: 240 12% 70%;
    --accent: 231 76% 60%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 240 13% 3%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 231 76% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 4%;
    --foreground: 240 12% 97%;
    --card: 0 0% 4%;
    --card-foreground: 240 12% 97%;
    --popover: 0 0% 4%;
    --popover-foreground: 240 12% 97%;
    --primary: 231 46% 46%;
    --primary-foreground: 240 12% 97%;
    --secondary: 231 76% 15%;
    --secondary-foreground: 240 12% 97%;
    --muted: 0 0% 80%;
    --muted-foreground: 240 12% 97%;
    --accent: 231 76% 40%;
    --accent-foreground: 240 12% 97%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 240 14% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 231 76% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
